.p-confirm {
  color: #7cb342;
  color: var(--confirm-color);
}

.p-decline {
  color: #c62828;
  color: var(--alert-color);
}

.p-confirm-important {
  color: #7cb342 !important;
  color: var(--confirm-color) !important;
}

.p-decline-important {
  color: #c62828 !important;
  color: var(--alert-color) !important;
}

.p-color-base-important {
  color: var(--base-color) !important;
}

.p-color-base-0_3-important {
  color: rgba(#2196f3, 0.3) !important;
}

.x-button .x-icon-el {
  width: 20px;
}

// 处理新版chrome浏览器卡片布局多页面时，grid样式渲染bug
.x-gridrow .x-cells-el {
  background-color: unset !important;
}

@include button-ui(
        $ui: 'psr-button-icon-nopadding',
        $icon-only-padding: 0px
);