.#{$prefix}action-col-icon {
  color: $grid-actioncolumn-icon-glyph-color;
  font-size: $grid-actioncolumn-icon-height;
  height: $grid-actioncolumn-icon-height;
  width: $grid-actioncolumn-icon-width;
  cursor: $grid-actioncolumn-icon-cursor;
  text-align: center;
}

.psr-cell-icon {
  font-size: 18px;
  height: 18px;
  width: 28px;
  text-align: center;
}
