$portal-main-navigation-header-icon-size: 44px;

.portal-main-navigation-app-icon:before {
  content: "";
  display: inline-block;
  height: $portal-main-navigation-header-icon-size;
  width: $portal-main-navigation-header-icon-size;
  background: url(shared/images/logo.svg), url(shared/images/logo.png) no-repeat;
  background-size: 100% 100%;
}

@include extjs-panel-ui(
        $ui: 'portal-main-navigation',
        $ui-header-padding: 0px 14px,
        $ui-header-border-width: 6px 8px,
        $ui-header-icon-width: $portal-main-navigation-header-icon-size,
        $ui-header-icon-height: $portal-main-navigation-header-icon-size,
        $ui-header-background-color: $portal-main-background-color,
        $ui-body-background-color: $portal-main-background-color
);

.x-panel-portal-main-navigation {
  .x-scroller::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: $portal-main-background-color;
  }

  .x-scroller::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #ededed;
  }
}