$panel-navigation-item-line-height: dynamic(64px);
$psr-desktop-nav-header-icon-size: 44px;

.psr-desktop-nav-app-icon:before {
  content: "";
  display: inline-block;
  height: $psr-desktop-nav-header-icon-size;
  width: $psr-desktop-nav-header-icon-size;
  background: url(shared/images/logo.svg), url(shared/images/logo.png) no-repeat;
  background-size: 100% 100%;
}

@include extjs-panel-ui(
        $ui: 'psr-desktop-nav',
          //$ui-header-line-height: $psr-desktop-title-line-height,
        $ui-header-padding: 0px 14px,
        $ui-header-border-width: 6px 8px,
          //$ui-header-text-padding: 0px,
        $ui-header-icon-width: $psr-desktop-nav-header-icon-size,
        $ui-header-icon-height: $psr-desktop-nav-header-icon-size,
          //$header-icon-font-size: $psr-desktop-nav-header-icon-size,
          //$ui-header-icon-spacing: 0px,
        $ui-header-background-color: $mainview-background-color,
        $ui-body-background-color: $mainview-background-color
);

.x-panel-psr-desktop-nav {
  .x-scroller::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: $mainview-background-color;
  }

  .x-scroller::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #ededed;
  }
}