$portal-main-toolbar-line-height: dynamic(64px);

@include extjs-toolbar-ui(
        $ui: 'portal-main-toolbar',
        $background-color: $portal-main-background-color
);

@include extjs-button-toolbar-small-ui(
        $ui: 'portal-main-toolbar-button',
        $color: white,
        $glyph-color: white,
        $background-color: transparent,
        $border-color: transparent
);