::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: $base-color;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #ededed;
}

.x-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.x-scrollbar::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: $base-color;
}

.x-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #ededed;
}

.#{$prefix}action-col-icon {
  color: $grid-actioncolumn-icon-glyph-color;
  font-size: $grid-actioncolumn-icon-height;
  height: $grid-actioncolumn-icon-height;
  width: $grid-actioncolumn-icon-width;
  cursor: $grid-actioncolumn-icon-cursor;
  text-align: center;
}

.psr-cell-icon {
  font-size: 18px;
  height: 18px;
  width: 28px;
  text-align: center;
}

.#{$prefix}window {
  .#{$prefix}window-header {
    .#{$prefix}tool-tool-el {
      color: $base-color;
    }
    .#{$prefix}tool-close {
      color: $window-close-glyph-color;
    }
  }
}