$panel-navigation-background-color: dynamic(#32404e);
$panel-navigation-item-line-height: dynamic(64px);
$panel-navigation-item-text-color: dynamic(#ADB3B8);
$psr-desktop-title-line-height: dynamic(64px);
$psr-desktop-nav-header-icon-size: 36px;

.psr-desktop-nav-app-icon:before {
  content: "";
  height: $psr-desktop-nav-header-icon-size;
  width: $psr-desktop-nav-header-icon-size/16*20;
  background: url(desktop/logo.png) no-repeat;
  background-size: 100% 100%;
}

@include titlebar-ui(
        $ui: 'psr-desktop-title',
        $line-height: $psr-desktop-title-line-height,
        $background-color: $base-dark-color
);

@include button-ui(
        $ui: 'psr-desktop-title-button',
        $icon-size: 22px,
        $icon-font-size: 18px,
        $color: $base-foreground-color,
        $background-color: $base-dark-color,
        $pressed-background-color: $base-pressed-color,
        $hovered-background-color: $base-color,
        $disabled-background-color: rgba(0, 0, 0, 0.12)
);

@include panel-ui(
        $ui: 'psr-desktop-nav',
        $header-line-height: $psr-desktop-title-line-height,
        $header-padding: 0px 14px,
        $header-title-padding: 0px,
        $header-icon-size: $psr-desktop-nav-header-icon-size,
        $header-icon-font-size: $psr-desktop-nav-header-icon-size,
        $header-icon-horizontal-spacing: 0px,
        $header-background-color: darken($panel-navigation-background-color, 10%),
        $body-background-color: darken($panel-navigation-background-color, 10%)
);

@include treelist-ui(
        $ui: 'psr-desktop-nav-tree',
          // 背景色
        $background-color: $panel-navigation-background-color,
        $padding: 5px 10px 0 10px,
          // micro模式样式============================
          // toolstrip
        $toolstrip-background-color: $panel-navigation-background-color,
          // 浮动项指示器
        $tool-float-indicator-color: $base-color,
        $tool-float-indicator-width: 4px,
          // 选中项指示器
          //$tool-indicator-selected-color: $base-color,
          //$tool-indicator-selected-width: 5px,
          // 选中项
        $tool-selected-color: $base-color,
        $tool-selected-background-color: mix(white, $panel-navigation-background-color, 10%),
          // 常规模式样式==============================
          // 展开项
        $item-expanded-background-color: #2c3845,
          // 选中项指示器
        $row-indicator-width: 5px,
        $row-indicator-selected-color: $base-color,
        $row-indicator-selected-over-color: lighten($base-color, 7%),
        $row-indicator-over-color: transparent,
          // 项目图标
        $item-icon-width: 44px,
        $item-icon-font-size: 18px,
        $item-icon-color: $panel-navigation-item-text-color,
        $item-icon-over-color: #fff,
          // 文本和图标间距
          //$item-text-icon-gap: 1px,
          // 项目文本
        $item-text-font-size: 14px,
        $item-text-overflow: initial,
        $item-text-color: mix(white, $panel-navigation-item-text-color, 50%),
        $item-text-over-color: #ADB3B8,
          // 项目展开按钮
        $item-expander-width: 24px,
        $item-expander-font-size: 16px,
        $item-expander-color: #fff,
        $item-expander-over-color: #fff,
          //$item-expanded-child-background-color: $base-light-color,
          //$item-expanded-background-color: transparent,
          //
        $item-line-height: 64px, //35px,
        $row-over-background-color: mix(white, $panel-navigation-background-color, 5%),
        $row-selected-background-color: mix(white, $panel-navigation-background-color, 10%)
);
.x-paneltitle-psr-desktop-nav .x-icon-el {
        width: 45px;
}
